/* ==========================
   STYLE GLOBAL
=========================== */
* {
    box-sizing: border-box;
}

.text-justify {
    text-align: justify;
}

body {
    margin: auto;
    color: #000000;
    background-color: #FFFFFF;
    line-height: 1.6; /* Intervalle entre les lignes */
    position: relative;
}

h1 {
    font-size: clamp(1.2rem, 2.2vw + 0.6rem, 2.5rem);
    text-align: center;

}
h2 {
    font-size: clamp(1.1rem, 1.3vw + 0.9rem, 1.75rem);
}

.contourTexte {
    display: inline-block; /* pour que la boîte s'adapte au texte */
    background-color: #EBA877;
    border: 1px solid #ccc;
    padding: 15px 20px;
    border-radius: 8px;  
}

/* ==========================
   HEADER et NAVIGATION
=========================== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    border-bottom: 2px solid #000000;
    
}

header img {
    height: 80px;
}

/* Navigation Desktop */
nav ul {
    list-style: none; /* car le menu est en mode liste donc ça permet d'enlever les puces */
    display: flex;
    gap: 30px;
    align-items: center;
}
nav a {
    color: #000000;
    font-weight: bold;
}

/* ==========================
   FOOTER
=========================== */
footer {
    text-align: center;
    padding: 20px;
    border-top: 2px solid #000000;
}

/* ==========================
   SECTIONS, zones de texte
=========================== */
section {
    padding: var(--spacing-section) 150px; /* Espace autour des sections */
    max-width: 1000px;
    margin: auto;
    font-size: 18px;
}


/* ==========================
   TOOLBOX, Informations de contact
=========================== */
.toolbox {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px #000000;
    background-color: #EBA877;
    text-align: center;
    font-size: 18px;
}
.contact-box {
    display: inline-block;
    padding: 20px;
    background-color: #EBA877;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}

#contactInfo {
    margin-top: 5px;
    font-weight: normal;
}


/* ==========================
   RESPONSIVE DESIGN Tablette et mobile
=========================== */
@media (max-width: 900px) {
    /* Tablette */
    .content { padding: 18px; }
    header { padding: 14px 20px; }
    nav ul { gap: 16px; justify-content: center; }
    header img { height: 64px; }
}

@media (max-width: 600px) {
    /* Mobile */
    .content { padding: 14px; }
    header { padding: 12px 16px; flex-direction: row; align-items: center; justify-content: space-between; }
    header img { height: 56px; margin: 0; }


    /* Menu ouvert */
    nav.open { right: 0; }

    nav ul {
        flex-direction: column;
        gap: 20px;
        padding-left: 20px;
        margin: 0;
    }

    /* Sommaire toggle */
    .sommaire-classique .sommaire-body { display: none; }
    .sommaire-classique .sommaire-toggle { display: inline-block; }
}


/* ==========================
   Onglet actif dans le menu
=========================== */
nav ul li a.active {
    background-color: #EBA877; 
    color: #FFFFFF;             
    padding: 8px 12px;         
    border-radius: 4px; 
    transition: background 0.3s ease;
}


/* ==========================
   Photos et flèches 
=========================== */
/* Dimensions et positionnement des images */
.slider-container {
    position: relative;
    max-width: 100%;
}
.slider-container .slide img {
    width: 100%;    
}
.slider-container .slide {
    display: none;
    width: 100%;
}
.slider-container .slide.active {
    display: block;
}
.slider-container .slide img {
    width: 92%;
    max-width: 700px;
    display: block;
    margin: 0 auto;
    border-radius: 6px; /* Arrondi les angles des images */
}

/* Flèches*/
.slider-container .prev, .slider-container .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(235,168,119,1);
    color: #000000;
    width: 44px;
    height: 44px;
    align-items: center;
    border-radius: 50%; /* Boutons ronds */
}
.slider-container .prev { left: 125px; } /* Placement de la flèche par rapport à l'image */
.slider-container .next { right: 125px; } /* Placement de la flèche par rapport à l'image */




/* ==========================
   MENU MOBILE A REVOIR
=========================== */
@media (max-width: 600px) {

    /* Le menu reste visible */
    nav ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: static; /* pas de menu caché */
        width: 100%;
        margin-top: 20px;
        align-items: flex-start;
    }

    nav li {
        width: 100%;
    }

    nav a {
        display: block;
        width: 100%;
        padding: 10px 0;
        font-size: 1.1rem;
    }
}


/* --------------------------
   TABLEAU ADR
--------------------------- */
body { /*Garde un peu d'espace autour du tableau*/
    padding: 30px;
}

.adr-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border: 4px solid black;
}

.adr-table th, .adr-table td {
    border: 2px solid black;
    padding: 12px;
    text-align: center;
}

.adr-table th {
    background-color: #222;
    color: white;
    text-align: center;
}

.img-cell { /* Cellules pictogrammes classes ADR */
    width: 140px;
    text-align: center;
}
.adr { /* Taille des pictogrammes ADR */
    width: 90px;
    height: 90px;
}

.num { /* Numéros de 1 à 9 */
    width: 80px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}