/* ==========================
   STYLE GLOBAL
=========================== */
* {
    box-sizing: border-box;
}

.text-justify {
    text-align: justify;
}

body {
    margin: auto;
    color: #000000;
    background-color: #FFFFFF;
    line-height: 1.6; /* Intervalle entre les lignes */
    position: relative;
}

h1 {
    font-size: clamp(1.2rem, 2.2vw + 0.6rem, 2.5rem);
    text-align: center;

}
h2 {
    font-size: clamp(1.1rem, 1.3vw + 0.9rem, 1.75rem);
}

.contourTexte { /* Pour encadrer des sections de textes en orange */
    display: inline-block; /* pour que la boîte s'adapte au texte */
    background-color: #EBA877;
    border: 1px solid #ccc;
    padding: 15px 20px;
    border-radius: 8px;  
}

/* ==========================
   HEADER et NAVIGATION
=========================== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    border-bottom: 2px solid #000000;
    
}

header img {
    height: 80px;
}

nav ul {
    list-style: none; /* car le menu est en mode liste donc ça permet d'enlever les puces */
    display: flex;
    gap: 30px;
    align-items: center;
}
nav a {
    color: #000000;
    font-weight: bold;
}

.menu-burger { /* Permet de faire en sorte que le menu burger ne s'affiche pas à d'autres moments que dans la version téléphone. Il est appelé dans la media query téléphone. */
    display: none;
}

/* ==========================
   FOOTER
=========================== */
footer {
    text-align: center;
    padding: 20px;
    border-top: 2px solid #000000;
}

/* ==========================
   SECTIONS, zones de texte
=========================== */
section {
    padding: var(--spacing-section) 150px; /* Espace autour des sections */
    max-width: 1000px;
    margin: auto;
    font-size: 18px;
}


/* ==========================
   TOOLBOX, Informations de contact
=========================== */
.toolbox {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px #000000;
    background-color: #EBA877;
    text-align: center;
    font-size: 18px;
}
.contact-box {
    display: inline-block;
    padding: 20px;
    background-color: #EBA877;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}

#contactInfo {
    margin-top: 5px;
    font-weight: normal;
}


/* ==========================
   Onglet actif dans le menu
=========================== */
nav ul li a.active {
    background-color: #EBA877; 
    color: #FFFFFF;             
    padding: 8px 12px;         
    border-radius: 4px; 
    transition: background 0.3s ease;
}


/* ==========================
   Photos et flèches 
=========================== */
/* Dimensions et positionnement des images */
.slider-container {
    position: relative;
    max-width: 100%;
}
.slider-container .slide img {
    width: 100%;    
}
.slider-container .slide {
    display: none;
    width: 100%;
}
.slider-container .slide.active {
    display: block;
}
.slider-container .slide img {
    width: 92%;
    max-width: 700px;
    display: block;
    margin: 0 auto;
    border-radius: 6px; /* Arrondi les angles des images */
}

/* Flèches*/
.slider-container .prev, .slider-container .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(235,168,119,1);
    color: #000000;
    width: 44px;
    height: 44px;
    align-items: center;
    border-radius: 50%; /* Arrondi les angles des images */
}
.slider-container .prev { left: 125px; } /* Placement de la flèche par rapport à l'image */
.slider-container .next { right: 125px; } /* Placement de la flèche par rapport à l'image */



/* --------------------------
   TABLEAU ADR
--------------------------- */
body { /*Garde un peu d'espace autour du tableau*/
    padding: 30px;
}

.adr-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border: 4px solid black;
}

.adr-table th, .adr-table td {
    border: 2px solid black;
    padding: 12px;
    text-align: center;
}

.adr-table th {
    background-color: #222;
    color: white;
    text-align: center;
}

.img-cell { /* Cellules pictogrammes classes ADR */
    width: 140px;
    text-align: center;
}
.adr { /* Taille des pictogrammes ADR */
    width: 90px;
    height: 90px;
}

.num { /* Numéros de 1 à 9 */
    width: 80px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

/* ==========================
   RESPONSIVE DESIGN TABLETTE
=========================== */
@media screen and (max-width: 1024px) { 
    section {
        padding: 40px 60px; /* Réduit les marges latérales pour éviter le débordement */
    }
    header {
        padding: 20px; /* Réduit l’espace interne du header */
    }
    .slider-container .prev {
        left: 40px; /* Rapproche la flèche de l’image */
    }
    .slider-container .next {
        right: 40px; /* Rapproche la flèche de l’image */
    }
}

/* ==========================
   RESPONSIVE DESIGN TELEPHONE
=========================== */
@media screen and (max-width: 768px) {

    section.ordi-seulement { 
        display: none !important; /* Pemret de cacher les images et le slider. Le "!important" permet de le faire passer en priorité par rapport aux autres paramètres. */
    }

    /* ---------- MENU BURGER ---------- */
    .menu-burger {
        display: block; /* Affiche l’icône burger sur mobile */
        font-size: 30px; 
        cursor: pointer; /* Curseur cliquable */
        margin-left: auto; /* Met le menu à droite */
        align-self: center; /* Centre verticalement dans le header */
    }

    nav ul {
        display: none; /* Cache le menu normal */
        flex-direction: column; 
        position: absolute; 
        top: 100%; /* Place le menu sous le header */
        right: 0; /* Aligne le menu à droite */
        background-color: #FFFFFF;
        width: 100%;
        padding: 20px 0; /* Marges intérieur */
        border-bottom: 2px solid black; /* Permet de faire une séparation visuelle */
    }

    nav ul.menu-ouvert {
        display: flex; /* Affiche le menu quand il est ouvert */
    }

    nav ul li {
        text-align: center; /* Centre les liens */
        margin: 10px 0;
    }

    /* ---------- HEADER ---------- */
    header {
        position: relative;
    }

    /* ---------- SECTIONS ---------- */
    section {
        padding: 30px 20px; /* Marges réduites */
        font-size: 16px; /* Texte légèrement plus petit */
    }


    /* ---------- TABLEAU ADR ---------- */
    .adr-table {
        font-size: 16px; /* Texte légèrement plus petit */
    }
    .adr {
        width: 60px; /* Réduction de la taille des pictogrammes */
        height: 60px;
}
